/* app global css */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap');

body {
  font-family: 'Baloo Chettan 2', sans-serif;
}


.q-field--filled.q-field--rounded .q-field__control {
  border-radius: 28px 28px 28px 28px !important;
}

.bg-primary {
  background-image: linear-gradient(#00ADEE, #19B1A4, #077157) !important;
}